.home-container {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 8% auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.logout-button {
  background: transparent;
  color: rgba(242, 242, 242, 0.5);
  font-size: 16px;
  font-family: "Montserrat Light";
  cursor: pointer;
  border: 0;
  left: 290px;
  position: relative;
  margin-bottom: 15px;
}

.home-title {
  color: #f2f2f2;
  text-align: center;
  font-size: x-large;
  font-family: "Montserrat Light";
  letter-spacing: 3px;
  margin-bottom: 25px;
}

.home-input-box {
  text-align: center;
}

.input-room {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgba(242, 242, 242, 0.5);
  color: #f2f2f2;
  font-family: "Montserrat Light";
  font-size: 16px;
  padding: 5px 0;
  position: relative;
  text-align: center;
}

.home-go-button {
  margin: 35px 0 0 5px;
  width: 190px;
  height: 35px;
  border-radius: 10px;
  background: transparent;
  outline: 0;
  color: #f2f2f2;
  font-size: 14px;
  font-family: "Montserrat Light";
  cursor: pointer;
  border: 1px solid #f2f2f2;
}
