.input-container {
  color: #f2f2f2;
  width: 100%;
}

.input-message-container {
  float: left;
}

.input-message {
  border: 0;
  outline: 0;
  background: transparent;
  border: 1px solid rgba(242, 242, 242, 0.5);
  color: #f2f2f2;
  font-family: "Montserrat Light";
  font-size: 16px;
  padding: 5px 11px;
  position: relative;
  border-radius: 25px;
  width: 350px;
  margin-left: 15px;
  height: 35px;
}

.send-message {
  float: right;
  position: absolute;
  top: 550px;
  left: 380px;
  height: 100px;
  width: 90px;
  cursor: pointer;
}
